.photoGrid {
  margin-bottom: 20px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  clear: both;
  border-bottom: none;
  margin-top: 30px;
}

img.photoImage {
  max-width: 100%;
  float: left;
}

.photoContainer {
  position: relative;
  width: 300px;
  display: flex;
  justify-content: space-evenly;
}

.text-block {
  width: 100%;
  background-color: #4aaaa5;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 22px;
  padding: 0px;
}

.carousel-caption {
  width:100%;
  height:100%;
  left:0 !important;
  bottom: -65% !important;
  padding: 20px;
  white-space: nowrap;
}

.img-fluid {
  max-width: 100%
}

.col-md-4 {
  padding: 20px;
}

@media screen and (max-width: 968px) {
  .text-block {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .text-block {
    font-size: 22px;
  }
}